In [6]:
import pandas as pd

In [17]:
df = pd.read_csv("C:\GEN1_AI\Dataset\Machine_Learning\SIH\et_bihar_2018.csv")
df_1 = pd.read_csv("C:\GEN1_AI\Dataset\Machine_Learning\SIH\DailyDelhiClimateTest.csv")

In [8]:
df

,Date,State Name,DistrictName,Evapotranspiration Level (mm),Evapotranspiration Volume (one thousand million cubic feet),Aggregate Evapotranspiration Level (mm),Aggregate Evapotranspiration Volume (one thousand million cubic feet)
0,30-06-2018,BIHAR,BEGUSARAI,2.967415,0.195216,1.320739,0.086887
1,30-06-2018,BIHAR,KHAGARIA,2.759952,0.139636,0.842219,0.042611
2,30-06-2018,BIHAR,GAYA,3.766301,0.634680,1.102610,0.185807
3,30-06-2018,BIHAR,SHEOHAR,4.093136,0.040125,1.501991,0.014724
4,30-06-2018,BIHAR,DARBHANGA,4.970566,0.386373,2.414489,0.187683
...,...,...,...,...,...,...,...
8127,01-12-2018,BIHAR,SARAN (CHHAPRA),0.505096,0.045355,0.213771,0.019195
8128,01-12-2018,BIHAR,KATIHAR,0.542166,0.055854,0.117191,0.012073
8129,01-12-2018,BIHAR,AURANGABAD,0.442916,0.049289,0.112116,0.012477
8130,01-12-2018,BIHAR,PATNA,0.648735,0.070603,0.225903,0.024586
8131,01-12-2018,BIHAR,ARARIA,0.667870,0.063726,0.180216,0.017196

In [9]:
df.describe()

,Evapotranspiration Level (mm),Evapotranspiration Volume (one thousand million cubic feet),Aggregate Evapotranspiration Level (mm),Aggregate Evapotranspiration Volume (one thousand million cubic feet)
count,8132.000000,8132.000000,8132.000000,8132.000000
mean,2.410501,0.202605,0.883882,0.074728
std,1.417107,0.155690,0.594400,0.065025
min,0.054695,0.001372,0.010015,0.000431
25%,0.881756,0.062436,0.309786,0.020843
50%,2.711618,0.184526,0.857199,0.061148
75%,3.607126,0.303311,1.341242,0.109575
max,6.448286,1.068525,3.116390,0.520585

In [10]:
df.shape

(8132, 7)

In [18]:
df_1

           date   meantemp   humidity  wind_speed  meanpressure
0    2017-01-01  15.913043  85.869565    2.743478     59.000000
1    2017-01-02  18.500000  77.222222    2.894444   1018.277778
2    2017-01-03  17.111111  81.888889    4.016667   1018.333333
3    2017-01-04  18.700000  70.050000    4.545000   1015.700000
4    2017-01-05  18.388889  74.944444    3.300000   1014.333333
..          ...        ...        ...         ...           ...
109  2017-04-20  34.500000  27.500000    5.562500    998.625000
110  2017-04-21  34.250000  39.375000    6.962500    999.875000
111  2017-04-22  32.900000  40.900000    8.890000   1001.600000
112  2017-04-23  32.875000  27.500000    9.962500   1002.125000
113  2017-04-24  32.000000  27.142857   12.157143   1004.142857

[114 rows x 5 columns]

In [19]:
df_1.describe()

         meantemp    humidity  wind_speed  meanpressure
count  114.000000  114.000000  114.000000    114.000000
mean    21.713079   56.258362    8.143924   1004.035090
std      6.360072   19.068083    3.588049     89.474692
min     11.000000   17.750000    1.387500     59.000000
25%     16.437198   39.625000    5.563542   1007.437500
50%     19.875000   57.750000    8.069444   1012.739316
75%     27.705357   71.902778   10.068750   1016.739583
max     34.500000   95.833333   19.314286   1022.809524